.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

CNPH Sublime/*
!CNPH Sublime/*.sublime-project
!CNPH Sublime/*sublime-workspace